fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

pydantic
pydantic-settings

python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart

email-validator

pytest
pytest-asyncio
httpx